In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [3]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2021  1517.016266              NaN
1     Afghanistan  2020  1968.341002              NaN
2     Afghanistan  2019  2079.921861              NaN
3     Afghanistan  2018  2060.698973              NaN
4     Afghanistan  2017  2096.093111              NaN

In [4]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
7657        Zimbabwe  1994  2670.106615              NaN
7658        Zimbabwe  1993  2458.783255              NaN
7659        Zimbabwe  1992  2468.278257              NaN
7660        Zimbabwe  1991  2781.787843              NaN
7661        Zimbabwe  1990  2704.757299              NaN

In [5]:
gdp_df.count()

Country or Area    7662
Year               7662
Value              7662
Value Footnotes       0
dtype: int64

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [6]:
gdp_df.shape

(7662, 4)

In [7]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [8]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [9]:
gdp_df.head(1)

  Country or Area  Year        Value
0     Afghanistan  2021  1517.016266

In [10]:
gdp_df = gdp_df.rename(columns = {
    'Country or Area': 'Country', 
    'Year': 'Year',
    'Value': 'GDP_Per_Capita'})
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2021     1517.016266
1  Afghanistan  2020     1968.341002
2  Afghanistan  2019     2079.921861
3  Afghanistan  2018     2060.698973
4  Afghanistan  2017     2096.093111

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [11]:
gdp_df['Year'].nunique

<bound method IndexOpsMixin.nunique of 0       2021
1       2020
2       2019
3       2018
4       2017
        ...
7657    1994
7658    1993
7659    1992
7660    1991
7661    1990
Name: Year, Length: 7662, dtype: int64>

In [12]:
gdp_df.nunique()

Country            242
Year                33
GDP_Per_Capita    7625
dtype: int64

In [13]:
# looking at the .csv in excel, some countries don't have any data starting right at 1990

8. In this question, you're going to create some plots to show the distribution of (((GDP per capita for the year 2020))). Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a (((histogram, a density plot, a boxplot, and a violin plot))). What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?